body {
  background-color: hsl(0, 0%, 23.6%);
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.center {
  text-align: center;
  color: #BEBEBE;
  font-size: small;  
}