body {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(21,21,21,1) 51%, rgba(0,0,0,1) 100%); 
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.center {
  text-align: center;
  color: #BEBEBE;
  font-size: small;  
}